<launch>
    <group ns="tb2">
        <!-- minimal setup -->
        <arg name="base"              default="$(env TURTLEBOT_BASE)"         doc="mobile base type [create, roomba]"/>
        <arg name="battery"           default="$(env TURTLEBOT_BATTERY)"      doc="kernel provided locatio for battery info, use /proc/acpi/battery/BAT0 in 2.6 or earlier kernels." />
        <arg name="stacks"            default="$(env TURTLEBOT_STACKS)"       doc="stack type displayed in visualisation/simulation [circles, hexagons]"/>
        <arg name="3d_sensor"         default="$(env TURTLEBOT_3D_SENSOR)"    doc="3d sensor types [kinect, asux_xtion_pro]"/>
        <arg name="simulation"        default="$(env TURTLEBOT_SIMULATION)"   doc="set flags to indicate this turtle is run in simulation mode."/>
        <arg name="serialport"        default="$(env TURTLEBOT_SERIAL_PORT)"  doc="used by create to configure the port it is connected on [/dev/ttyUSB0, /dev/ttyS0]"/>

        <param name="/use_sim_time" value="$(arg simulation)"/>

        
        <include file="$(find turtlebot_bringup)/launch/includes/description.launch.xml">
            <arg name="base" value="$(arg base)" />
            <arg name="stacks" value="$(arg stacks)" />
            <arg name="3d_sensor" value="$(arg 3d_sensor)" />
        </include>

         <!--some modify-->
        <param name="robot/name" value="$(optenv ROBOT turtlebot)"/>
        <param name="robot/type" value="turtlebot"/>
        
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
            <param name="publish_frequency" type="double" value="5.0" />
            <param name="tf_prefix" value="tb2" />
        </node>
        <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
            <rosparam command="load" file="$(find turtlebot_bringup)/param/$(arg base)/diagnostics.yaml" />
        </node>

        <include file="$(find turtlebot_bringup)/launch/includes/mobile_base.launch.xml">
            <arg name="base" value="$(arg base)" />
            <arg name="serialport" value="$(arg serialport)" />
        </include>
        <!--<include unless="$(eval arg('battery') == 'None')" file="$(find turtlebot_bringup)/launch/includes/netbook.launch.xml">
            <arg name="battery" value="$(arg battery)" />
        </include>-->

        <!--controller-->
        <node pkg="sin_runner_tb2" type="tb2_controller_node" name="controller" output="screen">
            <rosparam file="$(find sin_runner_tb2)/act.yaml" />
        </node>
    </group>
</launch>