<launch>
    <node pkg="sin_runner_tb2" type="console" name="console" launch-prefix="gnome-terminal --tab --">
        <!--订阅用-->
        <param name="topic_name" value="tb2/pose" />
        <!--打印用-->
        <param name="vehicle_name" value="tb2" />        
    </node>

    <node pkg="sin_runner_tb2" type="station" name="station" launch-prefix="gnome-terminal --tab --" />

    <!-- vrpn -->
	<include file="$(find vrpn_client_ros)/launch/sample.launch">
		<arg name="server" value="192.168.1.2"/>
	</include>
</launch>