<launch>
    <node pkg="sin_runner_tb2" type="console" name="console" launch-prefix="gnome-terminal --tab --">
        <param name="topic_name" value="/vrpn_client_node/tb2/pose" />
        <param name="vehicle_name" value="tb2" />   
        <param name="sim_mode" value="false" />                     
    </node>

    <node pkg="sin_runner_tb2" type="station" name="station" launch-prefix="gnome-terminal --tab --" />

    <!-- vrpn -->
	<include file="$(find vrpn_client_ros)/launch/sample.launch">
		<arg name="server" value="192.168.1.2"/>
	</include>
</launch>